<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>CodeclanPizzaShop</h1>
  <nav>
    <ul>
      <li> <a href="/pizzas">Orders</a> </li>
      <li> <a href="/pizzas/new">New Order</a> </li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>

</body>
</html>
